.filter {
  padding: 8px;
  border-radius: 8px;
  background: #353535;
  font-size: 15px;
  display: flex;
  gap: 15px;

  &__search {
    min-width: 200px;
    padding: 8px;
    border-radius: 8px;
    border: 1px solid #747474;
    background-color: transparent;
    color: white;
  }

  &__select {
    padding: 8px;
    border-radius: 8px;
    border: 1px solid #747474;
    background-color: transparent;
    color: white;
    option {
      color: black;
    }
  }

  &__btn {
    padding: 8px;
    border-radius: 8px;
  }
}
