:root {
  --font-wubba-lubba: 'WubbaLubbaDubDub';
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

body,
html {
  min-width: 320px;
  scroll-behavior: smooth;
  position: relative;
  font-weight: 400;
  background-color: #222222;
}

a {
  display: block;
  text-decoration: none;
  cursor: pointer;
  color: inherit;
}

button {
  font-family: inherit;
  border: none;
  cursor: pointer;
}

input,
select {
  font-family: inherit;
}
