.characters {
  margin: 40px 0;
  color: white;

  &__notFound {
    font-size: 30px;
  }

  &__filterWrapper {
    min-height: 50px;
    display: flex;
    align-items: center;
    gap: 20px;
  }

  &__content {
    margin: 40px 0;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
  }

  &__link {
    display: flex;
    width: fit-content;

    &:hover {
      border-bottom: 1px white solid;
      margin-bottom: -1px;
    }
  }
}
